*{
  font-family: sans-serif;

}

#rodape{
    position: fixed;
    height: 20px;
    line-height: 20px;
    bottom: 0px;
    color: darkgreen;
    font-family: serif;
    font-size: 14px;
    font: bold;
    z-index: 997;
    width: 100%;
    background-color: #66ff75;
    text-align: right;
}
body{
    background-color: #d1ebd1;
    margin: 0;
    padding: 0;
    min-width: 320px;
}
#conteudo{
position: relative;
width: 100%;
top: 96px;
z-index: 1;
}
#meio a{
font-weigth: bold;
text-decoration: none;
color: darkgreen;
font-weight: bold;
}
#meio a:hover{
font-weigth: bold;
text-decoration: none;
color: darkgreen;
font-weight: bold;
}
#meio a:active{
font-weigth: bold;
text-decoration: none;
color: darkgreen;
font-weight: bold;
}
#meio a:visited{
font-weigth: bold;
text-decoration: none;
color: darkgreen;
font-weight: bold;
}
/*#conteudo{
background: #f4fdf4;
width: 60%;
margin: 20px auto;
border: 1px solid darkgreen;
     -webkit-border-radius: 5px;
	-moz-border-radius: 5px ;
	border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}*/
/*teste para mudanca de tema*/

#conteudo{
text-align: justify;
padding: 5px;
}
#conteudo p {
/*text-indent: 20px;*/
}
#conteudo h{
text-align: center;}

.window{
    position: absolute;
  	z-index: 9999;
    padding: 1%;
    text-align: center;
	  min-height: 70%;
    height: 70%;
	  width: 50%;
    top: 14.5%;
    left: 25%;
    background-color: white;
    margin:  0 auto;
    -webkit-border-radius: 10px;
	  -moz-border-radius: 10px ;
	  border-radius: 10px;
    overflow: auto;
}
.close{

  text-align: right;

}
#background{
  z-index: 9000;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;


}
.action_report{
  float: left;
  display: inline;
  width: 30%;
  padding-left: 2%;

}
.content {
  position: absolute;
  background: #eff;
  width: 48%;
  padding: 10px 6px 10px;
  margin: 5px 0px 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 1px 10px grey;
}
.content-left{
  left: 0px;
}
.content-right{
  right: 0px;
}

/*
*
*
*----------Mobile------------*/
@media (max-width: 799px){
  .content{
    width: 100%;
  }
  .content-left{
    left: 0px;
  }
  .content-right{
    display: none;
  }

}
